body {
    background-color: #fffbf8;
    position: relative;
}
/* header */
header  {
    padding: 50px 0 50px;
    background-image: url("../images/header_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1 {
    color: #fffbf8;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin: 80px 0px 20px;
    text-shadow: 2px 2px 6px gray;
}
.config {
    width: 600px;
    border-radius: 8px;
    background-color: #fffbf8dd;
    color: #282828;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
}
.form-check {
    margin: 0px 30px 10px 0px;
}
.weeks {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-bottom: 8px;
}
/* statistics */
section.statistic {
    padding: 70px 7vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h2 {
    color: #1c1c1c;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
table {
    font-size: 15px;
    width: 1% !important;
}
.blue_index {
    display: flex;
    font-size: 13px;
    color: rgb(126, 126, 126);
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
}
.blue {
    width: 45px;
    height: 13px;
    background-color: #cfe2ff;
    margin-right: 6px;
}
canvas {
    margin-bottom: 50px;
}
.wrapper-scroll{
    margin: auto;
    overflow-x:auto;
    margin-bottom: 70px;
}
.tg-scroll{
    min-width: 40rem;
}
/* panel */
.panel {
    background-color: rgb(85, 152, 252, 0.5);
    border-bottom-left-radius: 20px;
    position: fixed;
    width: 60px;
    height: 500px;
    right: -60px;
    top: 10vh;
}
.panel-btn {
    background-color: rgb(85, 152, 252, 0.7);
    border-radius: 50%;
    position: absolute;
    right: 30px;
    width: 60px;
    height: 60px;
}